<div class="w-96 h-96 flex flex-col bg-base-200 rounded-xl ">
    <h3 class="w-full flex justify-center mt-2 font-semibold text-xl tracking-wide">Lista znajomych</h3>
    <div class="flex w-full justify-center mt-2 bg-base-300 p-1">
        <button class="btn btn-ghost mr-2 font-semibold text-base">Moi znajomi</button>
        <button class="btn btn-ghost font-semibold text-base">Zaproszenia</button>

    </div>
@if(friendsList.length < 1){
    <p class="w-full flex justify-center mt-5">Nie masz jeszcze żadnych znajomych :( </p>
    

}
</div>
